.main-content .panel{
  border: none;
}

.panel-row button{
  font-size: 20px;
  background-color: whitesmoke;
}

.panel-row button:hover{
  background-color: #343a40;
  color: whitesmoke;
  transform: scale(1.02);
  transition: 0.2s;
}