header{
    height: 51.2px;
}

nav > div.w-fix{
    width: 229px !important;
}

nav.bg-danger, div.bg-danger{
    background-color: rgb(241, 94, 41) !important;
}

.fa-pizza-slice{
    color: rgb(241, 94, 41);
    size: 20px;
}